<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Field <br class="mob"/>
        Object Way</h1>
        <p class="home-text">Clear the Field. Build the Way.</p>
        <p class="home-text-two">It's a puzzle game where you've gotta figure out where to put stuff to make a path - sounds simple but it's actually
        pretty tricky.</p>
        <a class="home-link" href="#features">
            <p>Lay the Path</p>
        </a>
    </div>
</section>