body{
  background: #f5e6c8;
  font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2b1f0e;
}
h2{
  font-family: "Playfair Display SC", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #2b1f0e;
    margin-bottom: 48px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  h2{
    font-size: 48px;
    margin-bottom: 64px;
  }
}